.section--color-green {
    color: rgba(255, 255, 255, 0.6) !important;
    background-image: url(../../img/arrow-pattern.svg) !important;
    background-color: #1FC86A !important;
}
.section--color-blue {
    color: rgba(255, 255, 255, 0.6) !important;
    background-image: url(../../img/arrow-pattern.svg) !important;
    background-color: #19224D !important;
}
.section--color-black {
    color: rgba(255, 255, 255, 0.6) !important;
    background-image: url(../../img/arrow-pattern.svg) !important;
    background-color: #222222 !important;
}
.section--color-gray {
    color: rgba(0, 0, 0, 0.6) !important;
    background-image: url(../../img/arrow-pattern.svg) !important;
    background-color: #eeeeee !important;
}

body main .theme-items-list .tainacan-records-container .tainacan-record {
    background-color: #eee !important;

    &:hover {
        .metadata-title { background-color: #ccc !important; }
        .media { background-color: #ddd !important; }
    }
}